@import "tailwindcss";

:root {
  --blue-900: hsl(209, 23%, 22%);   /* Dark Mode Elements */
  --blue-950: hsl(207, 26%, 17%);   /* Dark Mode Background */
  --grey-950: hsl(200, 15%, 8%);    /* Light Mode Text */
  --grey-400: hsl(0, 0%, 50%);      /* Light Mode Input */
  --grey-50: hsl(0, 0%, 99%);       /* Light Mode Background */
                                      /* White is used for Dark Mode Text and Light Mode Elements */

  --homepage-font-size: 0.875rem;
  --detail-page-font-size: 1rem;
}

@theme {
  --font-sans: var(--font-nunito-sans);
  --detail-page-layout: auto 1fr;
}